#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background-image: url(/Images/Clock.png);
    background-size: contain;
    border: 2px solid black;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
}
#hour{
    height: 25%;
    width: 1%;
    top: 27%;
    left: 49.5%;
    
}
#minute{
    height: 30%;
    width: .8%;
    top: 22%;
    left: 49.6%;
}
#second{
    height: 35%;
    width: 0.5%;
    top: 17%;
    left: 49.8%;
}